section.about
    .container
        main.section-content
            h2.section__title
                | О будущем ученике
            .section__desc
                p
                    | Ребятам из Loftschool будет полезно узнать немного обо мне
            ul.about__info
                li.about__item
                    .about__item-left
                        img.about__item-pic(src='img/decor/hello.svg', alt='')
                    .about__item-right
                        h3.about__title
                            | Немного обо мне
                        .about__desc
                            | Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ
                            | ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не
                            | плохо научился верстать. Пока есть только один сайт, которым могу похвастаться:
                            | www.yandex.ru
                li.about__item
                    .about__item-left
                        img.about__item-pic(src='img/decor/experience.svg', alt='')
                    .about__item-right
                        h3.about__title
                            | Мой опыт в разработке
                        .about__desc
                            | В этом блоке я расскажу о себе, что я уже умею. Здесь я укажу другие курсы, которые
                            | до этого я уже проходил. Могу перечислить технологии, которыми уже умею
                            | пользоваться. К примеру: html5, css3, sass, jade, git и пр.

