doctype html
html
    head
        meta(charset='UTF-8')
        title pageTitle
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=960')
        link(rel='stylesheet', href='css/main.css')
    body

        .wrapper
            .maincontent
                include header.pug
                include about.pug
                include courses.pug
        include footer.pug

        // scripts
        script(src='js/main.js')