section.courses
    .container
        main.courses-content
            h2.section__title
                | Курсы на loftblog
            .section__desc
                p
                    | которые мне помогут в выполнении этого задания
            .finish
                i.fa.fa-check(aria-hidden='true')
                |                         Задание выполнено
            ul.courses__list
                li.courses__item
                    .courses__item-main
                        .courses__shadow
                            a.courses__link(href='#')
                                .courses__img
                                    img.courses__img-pic(src='img/content/js.jpg', alt='')
                                .courses__desc
                                    .courses__text
                                        .courses__title
                                            | Основы JS
                                        .courses__text-content.section__text
                                            p
                                                | Видеокурс о одном из самых популярных языков программирования -
                                                | JavaScript. Изучая этот курс вы познаете этот прекрасный язык от
                                                | самых основ.
                                        .courses__date
                                            i.fa.fa-clock-o(aria-hidden='true')
                                            |                                                     24 урока (6 часов 46 минут)
                            .courses__check
                                input#check0.courses__check-elem(data-id='0', type='checkbox')
                                label.courses__check-text(for='check0')
                                    | Посмотрел
                li.courses__item
                    .courses__item-main
                        .courses__shadow
                            a.courses__link(href='#')
                                .courses__img
                                    img.courses__img-pic(src='img/content/js.jpg', alt='')
                                .courses__desc
                                    .courses__text
                                        .courses__title
                                            | Основы JS
                                        .courses__text-content.section__text
                                            p
                                                | Видеокурс о одном из самых популярных языков программирования -
                                                | JavaScript. Изучая этот курс вы познаете этот прекрасный язык от
                                                | самых основ.
                                                | Видеокурс о одном из самых популярных языков программирования -
                                                | JavaScript. Изучая этот курс вы познаете этот прекрасный язык от
                                                | самых основ.
                                        .courses__date
                                            i.fa.fa-clock-o(aria-hidden='true')
                                            |                                                     24 урока (6 часов 46 минут)
                            .courses__check
                                input#check1.courses__check-elem(data-id='1', type='checkbox')
                                label.courses__check-text(for='check1')
                                    | Посмотрел
                li.courses__item
                    .courses__item-main
                        .courses__shadow
                            a.courses__link(href='#')
                                .courses__img
                                    img.courses__img-pic(src='img/content/js.jpg', alt='')
                                .courses__desc
                                    .courses__text
                                        .courses__title
                                            | Основы JS
                                        .courses__text-content.section__text
                                            p
                                                | Видеокурс о одном из самых популярных языков программирования -
                                                | JavaScript. Изучая этот курс вы познаете этот прекрасный язык от
                                                | самых основ.
                                        .courses__date
                                            i.fa.fa-clock-o(aria-hidden='true')
                                            |                                                     24 урока (6 часов 46 минут)
                            .courses__check
                                input#check2.courses__check-elem(data-id='2', type='checkbox')
                                label.courses__check-text(for='check2')
                                    | Посмотрел
                li.courses__item
                    .courses__item-main
                        .courses__shadow
                            a.courses__link(href='#')
                                .courses__img
                                    img.courses__img-pic(src='img/content/js.jpg', alt='')
                                .courses__desc
                                    .courses__text
                                        .courses__title
                                            | Основы JS
                                        .courses__text-content.section__text
                                            p
                                                | Видеокурс о одном из самых популярных языков программирования -
                                                | JavaScript. Изучая этот курс вы познаете этот прекрасный язык от
                                                | самых основ.
                                        .courses__date
                                            i.fa.fa-clock-o(aria-hidden='true')
                                            |                                                     24 урока (6 часов 46 минут)
                            .courses__check
                                input#check3.courses__check-elem(data-id='3', type='checkbox')
                                label.courses__check-text(for='check3')
                                    | Посмотрел
                li.courses__item
                    .courses__item-main
                        .courses__shadow
                            a.courses__link(href='#')
                                .courses__img
                                    img.courses__img-pic(src='img/content/js.jpg', alt='')
                                .courses__desc
                                    .courses__text
                                        .courses__title
                                            | Основы JS
                                        .courses__text-content.section__text
                                            p
                                                | Видеокурс о одном из самых популярных языков программирования -
                                                | JavaScript. Изучая этот курс вы познаете этот прекрасный язык от
                                                | самых основ.
                                        .courses__date
                                            i.fa.fa-clock-o(aria-hidden='true')
                                            |                                                     24 урока (6 часов 46 минут)
                            .courses__check
                                input#check4.courses__check-elem(data-id='4', type='checkbox')
                                label.courses__check-text(for='check4')
                                    | Посмотрел
                li.courses__item
                    .courses__item-main
                        .courses__shadow
                            a.courses__link(href='#')
                                .courses__img
                                    img.courses__img-pic(src='img/content/js.jpg', alt='')
                                .courses__desc
                                    .courses__text
                                        .courses__title
                                            | Основы JS
                                        .courses__text-content.section__text
                                            p
                                                | Видеокурс о одном из самых популярных языков программирования -
                                                | JavaScript. Изучая этот курс вы познаете этот прекрасный язык от
                                                | самых основ.
                                        .courses__date
                                            i.fa.fa-clock-o(aria-hidden='true')
                                            |                                                     24 урока (6 часов 46 минут)
                            .courses__check
                                input#check5.courses__check-elem(data-id='5', type='checkbox')
                                label.courses__check-text(for='check5')
                                    | Посмотрел
