header.header
    .header__left
        // / ========= user ========= \
        .user
            .user__avatar
                a(href='#')
                    img.user__avatar-img(src='img/content/avatar.jpg')
            .user__info
                .user__name
                    | Боюр Артем Владимирович
                .user__mail
                    | gboyur@gmail.com
    .header__right
        // / ========= social ========= \
        .socials
            ul.socials__list
                li.socials__item
                    a.socials__link(href='#')
                        i.socials__icon.fa.fa-github
                li.socials__item
                    a.socials__link(href='#')
                        i.socials__icon.fa.fa-skype
                li.socials__item
                    a.socials__link(href='#')
                        i.socials__icon.fa.fa-vk

