.footer {
  background: $black;
}

.footer__content {
  width: 55%;
  height: 100%;
  margin: auto;
}

.footer__text {
  @include inlineblock();
  @include fira();
  color: gray;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
}